asgiref==3.5.2
certifi==2019.6.16
chardet==3.0.4
defusedxml==0.6.0
Django==2.2.10
django-allauth==0.40.0
django-crispy-forms==1.14.0
django-filter==22.1
idna==2.8
oauthlib==3.1.0
Pillow==9.2.0
python-dotenv==0.20.0
python3-openid==3.1.0
pytz==2019.2
requests==2.22.0
requests-oauthlib==1.2.0
sqlparse==0.3.0
stripe==3.5.0
urllib3==1.25.3
